src/app/code/Magento/TestModule
src/app/etc/env.php
src/atlassian*
src/.buildpath
src/generated
src/.gitattributes
src/.github
src/.grunt
src/grunt-config.json
src/Gruntfile.js
src/.idea
src/nbproject
src/.project
src/pub/media
src/pub/static
src/.settings
src/var
src/vendor
src/.vscode
