/src/.buildpath
/src/.cache
/src/.metadata
/src/.project
/src/.settings
/src/.vscode
/src/atlassian*
/src/nbproject
/src/robots.txt
/src/pub/robots.txt
/src/sitemap
/src/sitemap.xml
/src/pub/sitemap
/src/pub/sitemap.xml
/src/.idea
/src/.github
/src/.gitattributes
/src/app/config_sandbox
/src/app/etc/env.php
/src/app/code/Magento/TestModule*
/src/lib/internal/flex/uploader/.actionScriptProperties
/src/lib/internal/flex/uploader/.flexProperties
/src/lib/internal/flex/uploader/.project
/src/lib/internal/flex/uploader/.settings
/src/lib/internal/flex/varien/.actionScriptProperties
/src/lib/internal/flex/varien/.flexLibProperties
/src/lib/internal/flex/varien/.project
/src/lib/internal/flex/varien/.settings
/src/node_modules
/src/.grunt
/src/Gruntfile.js
/src/package.json
/src/.php_cs
/src/.php_cs.cache
/src/grunt-config.json
/src/dev/tools/grunt/configs/local-themes.js
/src/pub/media/*.*
!/src/pub/media/.htaccess
/src/pub/media/attribute/*
!/src/pub/media/attribute/.htaccess
/src/pub/media/analytics/*
/src/pub/media/catalog/*
!/src/pub/media/catalog/.htaccess
/src/pub/media/customer/*
!/src/pub/media/customer/.htaccess
/src/pub/media/downloadable/*
!/src/pub/media/downloadable/.htaccess
/src/pub/media/favicon/*
/src/pub/media/import/*
!/src/pub/media/import/.htaccess
/src/pub/media/logo/*
/src/pub/media/theme/*
/src/pub/media/theme_customization/*
!/src/pub/media/theme_customization/.htaccess
/src/pub/media/wysiwyg/*
!/src/pub/media/wysiwyg/.htaccess
/src/pub/media/tmp/*
!/src/pub/media/tmp/.htaccess
/src/pub/media/captcha/*
/src/pub/static/*
!/src/pub/static/.htaccess

/src/var/*
!/src/var/.htaccess
/src/generated/*
!/src/generated/.htaccess

# The following files / folders should not be modified by the devoloper
# And are already in the image anyway
/src/dev
/src/setup
/src/update
/src/vendor/amzn
/src/vendor/bin
/src/vendor/braintree
/src/vendor/colinmollenhour
/src/vendor/composer
/src/vendor/container-interop
/src/vendor/doctrine
/src/vendor/dotmailer
/src/vendor/friendsofphp
/src/vendor/guzzlehttp
/src/vendor/ircmaxell
/src/vendor/justinrainbow
/src/vendor/klarna
/src/vendor/lusitanian
/src/vendor/magento
/src/vendor/monolog
/src/vendor/myclabs
/src/vendor/oyejorge
/src/vendor/paragonie
/src/vendor/pdepend
/src/vendor/pelago
/src/vendor/phar-io
/src/vendor/phpdocumentor
/src/vendor/phpmd
/src/vendor/phpseclib
/src/vendor/phpspec
/src/vendor/phpunit
/src/vendor/psr
/src/vendor/ramsey
/src/vendor/sebastian
/src/vendor/seld
/src/vendor/squizlabs
/src/vendor/symfony
/src/vendor/tedivm
/src/vendor/temando
/src/vendor/theseer
/src/vendor/tubalmartin
/src/vendor/vertex
/src/vendor/webmozart
/src/vendor/zendframework

# TODO: Are there more files / folders which should not be modified?
/src/lib/web/css/docs
