upstream fastcgi_backend {
    server  ${BACKEND_HOST}:9000;
}

server {
    listen 8080;
    server_name ${SERVER_NAME};
    set $MAGE_ROOT /var/www/html;
    set $MAGE_DEBUG_SHOW_ARGS 0;
    include /var/www/html/nginx.conf.sample;
}
