name: update-dependencies

on:
  pull_request:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Update external dependencies
        run: |
          wget https://github.com/benibela/xidel/releases/download/Xidel_0.9.8/xidel_0.9.8-1_amd64.deb
          sudo dpkg -i xidel_0.9.8-1_amd64.deb
          sh update-dependency-version.sh
          rm xidel_0.9.8-1_amd64.deb

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update external dependencies
